{% assign on_sale = false %}
{% assign sale_text = 'products.product.sale' | t %}
{% if product.compare_at_price > product.price %}{% assign on_sale = true %}{% endif %}
{% assign sold_out = true %}
{% assign sold_out_text = 'products.product.sold_out' | t %}
{% if product.available %}{% assign sold_out = false %}{% endif %}
{% unless grid_item_width %}{% assign grid_item_width = 'wide--one-third large--one-third medium-down--one-half' %}{% endunless %}
{% assign grid_image_width = settings.product_image_width_height  %}
{% assign grid_item_width = 'medium--one-third large--one-quarter' %}

<div class="grid-item {{ settings.product_hover_btn }} {{ grid_item_width }} {{product.type}}">
  <div id="product-{{ product.id }}" data-id="product-{{ product.id }}"  data-col="{{ product.id }}" class="grid-view-item padding_0 {{ settings.product_hover_btn }} product-layouts item-row {% if sold_out %} product-price--sold-out grid-view-item--sold-out{% endif %}{% if on_sale %} on-sale{% endif %}{% if forloop.last %} last{% endif %}">
    <div class="product-wrapper {% if settings.product_hover_image %} hover_imgs{% endif %}">
      <div class="thumbs product-thumb">
        <div class="col-xs-12 {{ settings.product_img_hover }}">
          <div class="product-image {{ settings.product_img_hover }}">
            <a href="{{ product.url | within: collection }}" class="product-t grid-view-item__link">
              {% if featured.title != '' %}
              {% if product.images.last %} 
              {% if settings.product_hover_image %}
              <img width="285" height="371" class="image_thumb_swap" src="{{ product.images.last | product_img_url: grid_image_width }}" alt="{{ product.images.last.alt | escape }}" />
              {% endif %}             
              {% endif %}             

              {% if settings.product_hover_image %}
              {% if product.images.size > 1 %}
              {% if product.images.last %} 
              <div class="second-productimg">
                <img width="285" height="371" src="{{ product.featured_image.src | img_url: settings.product_image_width_height }}" alt="{{ product.featured_image.alt | escape }}" class="featured-image image_thumb">
              </div>
              {% endif %} 
              {% endif %}    
              {% endif %}    
              {% else %}
              {% capture current %}{% cycle 1, 2, 3, 4, 5, 6 %}{% endcapture %}
              {{ 'product-' | append: current | placeholder_svg_tag: 'placeholder-svg' }}
              {% endif %}
            </a>    
            {% if product.images.size > 1 %}
            {% if product.images.last %}
            <div class="loader">
              <div class="preloader-wrapper active">
                <div class="spinner-layer"></div>
              </div>
            </div>
            {% endif %} 
            {% endif %}         

            {% if product.compare_at_price > product.price %}
            <span class="product-price__sale-label ">{{ 'products.product.on_sale' | t }}</span>
            {% endif %}    
                     
            {% assign c_f = product.metafields.c_f %}
            {% assign key = 'custom_label' %}
            {% if c_f.custom_label != nil %}
            <span class="custom_label">{{ c_f.custom_label }}</span>
            {% endif %}
          </div>
          {% if product.available %} 
          {% else %}
          <div class="sold-out-tag text-center">
            <span class="tag">{{ 'products.product.sold_out' | t }}</span>
          </div>
          {% endif %} 
          
          {% if settings.product_hover_btn =="style2" %}
          {% if settings.enable_quick_view %}   
          <div class="quickview">    
            {% render 'quickveiw-icon' %}  
          </div>       
          {% endif %} 
          {% endif %}
          
          {% if settings.enable_countdown %}        
          {% assign c_f = product.metafields.c_f %}
          {% assign key = 'countdown' %}
          {% if c_f.countdown != nil %}
          <div class="flip-countdown simple-countdown"><div class="countdown-container flip-countdown" data-countdown="{{ c_f.countdown }}"></div></div>
          {% endif %}
          {% endif %} 

          {% if settings.display_size_variant or settings.display_color_variant %}
          <div class="color-size">
            {% if settings.display_size_variant %}  
            <div class="product-sizes">
              <ul class="product-size">  
                {% for option in product.options %}
                {% if option == 'Size' %}
                {% assign index = forloop.index0 %}
                {% assign sizelist = '' %}
                {% assign size = '' %}
                {% for variant in product.variants %}
                {% capture size %}
                {{ variant.options[index] }}
                {% endcapture %}
                {% unless sizelist contains size %}  
                {% assign text = size | handleize %}
                <li>
                  <label>{{ size | split: ' ' | last | handle }}</label>
                  {% if variant.image != null %}
                  <span class="hidden">
                    <img width="373" height="486" src="{{ variant.image.src | product_img_url: '373x486' }}" alt="{{ text }}"/>
                  </span>
                  {% endif %}
                </li>
                {% capture tempList %}
                {{ sizelist | append: size | append: ' ' }}
                {% endcapture %}
                {% assign sizelist = tempList %}
                {% endunless %}
                {% endfor %}
                {% endif %}
                {% endfor %}
              </ul>
            </div>
            {% endif %} 

            {% if settings.display_color_variant %}     
            {% render 'item-swatch' %}
            {% endif %} 
          </div>
          {% endif %}
          
          {% if settings.enable_quantity %}
          {% if product.available %} 
          <div class="product-qty">        
            <form action="/cart/add" method="post" class="variants clearfix cart-form-{{ product.id }}"> 
              <div class="qty-box-set">  
                <input type="number" name="quantity" value="1" min="1" data-id="Qty" class="quantity">
                <div class="qnt_wrap">
                  <div class="inc button qtyplus"><i class="mdi mdi-plus"></i></div>
                  <div class="dec button qtyminus"><i class="mdi mdi-minus"></i></div>
                </div>
              </div>
            </form>
          </div>
          {% endif %}
          {% endif %}

          {% if settings.product_hover_btn =="style1" %} 
            <div class="btn-content">
              <div class="btn_cart">
                {% if settings.enable_add_cart %}
                {% if product.available %}
                {% if product.variants.first.inventory_management == "shopify" %}
                {% if product.variants %}  
                {% if product.variants.first.inventory_quantity > 0 %}
                <div class="pro_btn btn1 add_tocart">
                  <form action="/cart/add" method="post" class="variants clearfix cart-form-{{ product.id }}">                                    
                    <input type="hidden" name="id" value="{{ product.variants[0].id }}" />  
                    <a class="add-cart-btn btn" title="{{ 'products.product.add_to_cart' | t }}">
                      <i class="mdi mdi-cached"></i>
                      <i class="mdi mdi-cart-outline"></i><span class="add_cart">{{ 'products.product.add_to_cart' | t }}</span>
                    </a>
                  </form>   
                </div>
                {% else %}
                <div class="pro_btn btn1 add_tocart soldout">
                  <a class="add-cart-btn1 btn add-to-cart-disable" title="{{ 'products.product.sold_out' | t }}">
                    <i class="mdi mdi-cart-outline"></i><span class="sold_cart tooltip-label">{{ 'products.product.sold_out' | t }}</span>
                  </a>  
                </div>
                {% endif %}
                {% else %}
                {% if product.inventory_quantity > 0 %}
                <div class="pro_btn btn2 add_tocart">
                  <form action="/cart/add" method="post" class="variants clearfix cart-form-{{ product.id }}">                                    
                    <input type="hidden" name="id" value="{{ product.variants[0].id }}" />  
                    <a class="add-cart-btn btn" title="{{ 'products.product.add_to_cart' | t }}">
                      <i class="mdi mdi-cached"></i>
                      <i class="mdi mdi-cart-outline"></i><span class="add_cart">{{ 'products.product.add_to_cart' | t }}</span>
                    </a>
                  </form>   
                </div>
                {% else %}
                <div class="pro_btn btn2 add_tocart soldout">
                  <a class="add-cart-btn1 btn add-to-cart-disable" title="{{ 'products.product.sold_out' | t }}">
                    <i class="mdi mdi-cart-outline"></i><span class="sold_cart tooltip-label">{{ 'products.product.sold_out' | t }}</span>
                  </a>  
                </div>
                {% endif %}
                {% endif %}
                {% else %}
                {% if product.variants.first.inventory_management == "shopify" %}  
                {% if product.variants.first.inventory_quantity > 0 %}
                <div class="pro_btn btn3 add_tocart">
                  <form action="/cart/add" method="post" class="variants clearfix cart-form-{{ product.id }}">                                    
                    <input type="hidden" name="id" value="{{ product.variants[0].id }}" />  
                    <a class="add-cart-btn btn" title="{{ 'products.product.add_to_cart' | t }}">
                      <i class="mdi mdi-cached"></i>
                      <i class="mdi mdi-cart-outline"></i><span class="add_cart">{{ 'products.product.add_to_cart' | t }}</span>
                    </a>
                  </form>   
                </div>
                {% else %}
                <div class="pro_btn btn3 add_tocart soldout">
                  <a class="add-cart-btn1 btn add-to-cart-disable" title="{{ 'products.product.sold_out' | t }}">
                    <i class="mdi mdi-cart-outline"></i><span class="sold_cart tooltip-label">{{ 'products.product.sold_out' | t }}</span>
                  </a>  
                </div>
                {% endif %}
                {% else %}
                <div class="pro_btn btn4 add_tocart">
                  <form action="/cart/add" method="post" class="variants clearfix cart-form-{{ product.id }}">                                    
                    <input type="hidden" name="id" value="{{ product.variants[0].id }}" />  
                    <a class="add-cart-btn btn" title="{{ 'products.product.add_to_cart' | t }}">
                      <i class="mdi mdi-cached"></i>
                      <i class="mdi mdi-cart-outline"></i><span class="add_cart">{{ 'products.product.add_to_cart' | t }}</span>
                    </a>
                  </form>   
                </div>
                {% endif %}
                {% endif %}
                {% else %}
                <div class="pro_btn btn4 add_tocart soldout">
                  <a class="add-cart-btn1 btn add-to-cart-disable" title="{{ 'products.product.sold_out' | t }}">
                    <i class="mdi mdi-cart-outline"></i><span class="sold_cart tooltip-label">{{ 'products.product.sold_out' | t }}</span>
                  </a>  
                </div>
                {% endif %}
                {% endif %}
                {% if settings.enable_quick_view %}     
                {% render 'quickveiw-icon' %}      
                {% endif %}
              </div> 
              <div class="btn_wrapper">
                {% if settings.enable_compare %}
                <div class="add-to-compare pro_btn">     
                  <div class="show">
                    <div class="default-comparebutton-{{ product.handle }} loading"><a class="add-in-compare-js btn" data-comparehandle="{{ product.handle }}" title="{{ 'products.compare.add_to_compare' | t }}"><i class="mdi mdi-cached"></i><i class="mdi mdi-repeat"></i><span class="tooltip-label">{{ 'products.compare.add_to_compare' | t }}</span><i class="mdi mdi-repeat-once"></i></a></div>
                  </div>
                </div>
                {% endif %}
                {% if settings.enable_wishlist %}       
                {% render 'wishlist-icon' %}         
                {% endif %} 
              </div>
            </div>
          {% endif %}
          
          {% if settings.product_hover_btn =="style2" %}
            <div class="btn_wrapper">      
              {% if settings.enable_compare %}
              <div class="add-to-compare pro_btn">     
                <div class="show">
                  <div class="default-comparebutton-{{ product.handle }} loading"><a class="add-in-compare-js btn" data-comparehandle="{{ product.handle }}" title="{{ 'products.compare.add_to_compare' | t }}"><i class="mdi mdi-cached"></i><i class="mdi mdi-repeat"></i><span class="tooltip-label">{{ 'products.compare.add_to_compare' | t }}</span><i class="mdi mdi-repeat-once"></i></a></div>
                </div>
              </div>
              {% endif %}
              {% if settings.enable_add_cart %}
              {% if product.available %}  
              <div class="pro_btn add_tocart">
                <form  action="/cart/add" method="post" class="variants clearfix cart-form-{{ product.id }}">                                    
                  <input type="hidden" name="id" value="{{ product.variants[0].id }}" />  
                  <a class="add-cart-btn btn">
                    <i class="mdi mdi-cached"></i>
                    <i class="mdi mdi-cart-outline"></i><span class="add_cart tooltip-label">{{ 'products.product.add_to_cart' | t }}</span>
                  </a>
                </form>   
              </div>             
              {% else %}
              <div class="pro_btn add_tocart soldout">
                <a class="btn add-to-cart-disable" title="{{ 'products.product.sold_out' | t }}">
                  <i class="mdi mdi-cart-outline"></i><span class="sold_cart tooltip-label">{{ 'products.product.sold_out' | t }}</span>
                </a>  
              </div> 
              {% endif %}   
              {% endif %}  
              {% if settings.enable_wishlist %}       
              {% render 'wishlist-icon' %}         
              {% endif %}  
            </div>
          {% endif %}
          
          {% if settings.product_hover_btn =="style3" %}
            <div class="btn_wrapper">  
              {% if settings.enable_add_cart %}
              {% if product.available %}  
              <div class="pro_btn add_tocart">
                <form  action="/cart/add" method="post" class="variants clearfix cart-form-{{ product.id }}">                                    
                  <input type="hidden" name="id" value="{{ product.variants[0].id }}" />  
                  <a class="add-cart-btn btn">
                    <i class="mdi mdi-cached"></i>
                    <i class="mdi mdi-cart-outline"></i><span class="add_cart tooltip-label">{{ 'products.product.add_to_cart' | t }}</span>
                  </a>
                </form>   
              </div>             
              {% else %}
              <div class="pro_btn add_tocart soldout">
                <a class="btn add-to-cart-disable" title="{{ 'products.product.sold_out' | t }}">
                  <i class="mdi mdi-cart-outline"></i><span class="sold_cart tooltip-label">{{ 'products.product.sold_out' | t }}</span>
                </a>  
              </div> 
              {% endif %}   
              {% endif %}

              {% if settings.product_hover_btn =="style3" %}                  
              {% if settings.enable_wishlist %}       
              {% render 'wishlist-icon' %}         
              {% endif %} 
              {% endif %}  

              {% if settings.enable_compare %}
              <div class="add-to-compare pro_btn">     
                <div class="show">
                  <div class="default-comparebutton-{{ product.handle }} loading"><a class="add-in-compare-js btn" data-comparehandle="{{ product.handle }}" title="{{ 'products.compare.add_to_compare' | t }}"><i class="mdi mdi-cached"></i><i class="mdi mdi-repeat"></i><span class="tooltip-label">{{ 'products.compare.add_to_compare' | t }}</span><i class="mdi mdi-repeat-once"></i></a></div>
                </div>
              </div>
              {% endif %}   

              {% if settings.enable_quick_view %}       
              {% render 'quickveiw-icon' %}         
              {% endif %}  
            </div>
          {% endif %}
          
        </div> 
      </div>
      <div class="product-description">
        <div class="product-description-wrap">
          {% if settings.show_vendor %}
          <div class="grid-view-item__vendor">{{ product.vendor }}</div>
          {% endif %}
          {% if settings.product_hover_btn =="style3" or settings.product_hover_btn =="style1" %}
          <div class="h4 grid-view-item__title">
            <a class="grid-view-item__link grid-link__title" href="{{ product.url | within: collection }}">{{ product.title }}</a>
          </div>
          {% endif %}
          {% if settings.product_hover_btn =="style2" %}
          <div class="h4 grid-view-item__title">
            <a class="grid-view-item__link grid-link__title" href="{{ product.url | within: collection }}">{{ product.title | truncate: 24 }}</a>
          </div>
          {% endif %}
          {% if settings.product_hover_btn =="style2" %}
          {% if settings.collections_show_rating %}    
          <div class="spr-badges grid-item-meta">
            <span class="shopify-product-reviews-badge" data-id="{{ product.id }}"></span>
          </div>
          {% endif %}
          {% endif %} 
          {% if settings.product_hover_btn =="style3" or settings.product_hover_btn =="style1" %}
          {% if settings.collections_show_rating %}    
          <div class="spr-badges grid-item-meta">
            <span class="shopify-product-reviews-badge" data-id="{{ product.id }}"></span>
          </div>
          {% endif %}
          {% endif %} 
          <div class="product-desc rte">
            {{ product.description | strip_html | truncatewords: 15 }}         
          </div>
          <div class="grid-view-item__meta">
            {% capture price %}{{ product.price | money }}{% endcapture %}
            <div class="grid-link__org_price">
              {% render 'product-price' %}
            </div> 
          </div> 
        </div>  
      </div>
    </div>
  </div>
</div>