{% capture borderWidth %}{{ settings.border_width }}px{% endcapture %}
{% capture colorBorder %}{{ settings.color_borders }}{% endcapture %}
{% if settings.social_twitter_link != blank or settings.social_facebook_link != blank or settings.social_pinterest_link != blank or settings.social_google_plus_link != blank or settings.social_instagram_link != blank or settings.social_tumblr_link != blank or settings.social_snapchat_link != blank or settings.social_youtube_link != blank or settings.social_vimeo_link != blank or settings.social_fancy_link != blank %}
{% assign show_social_icons = true %}
{% else %}
{% assign show_social_icons = false %}
{% endif %}
{% assign flexifooter = 0 %}
{% if show_social_icons %}{% assign flexifooter = flexifooter | plus: 1 %}{% endif %}
{% if section.settings.newsletter_desc != blank %}{% assign class = 'has_desc' %}{% else %}{% assign class = '' %}{% endif %}
<footer class="site-footer text-left" data-section-id="{{ section.id }}" >
  {% if section.settings.show_newsletter %}
  <div class="footer-top {{ class }}" style="background-color:{{ section.settings.newsletter_bg }};">
    <div class="container">
      <div class="block_newsletter{% if template == 'index' %} left-to-right hb-animate-element{% endif %}">
        <div class="tt-content col-sm-6">
        {% if section.settings.newsletter_title != blank %}
          <h1 class=" col-xs-12 news-title" style="color:{{ section.settings.newsletter_txt_color }};">{{ section.settings.newsletter_title }}</h1>
          {% endif %}
            {% if section.settings.newsletter_desc != blank %}
          <div class="tt-desc" style="color:{{ section.settings.newsletter_desc_color }};">{{ section.settings.newsletter_desc }}</div>
          {% endif %}
        </div>
        <div class="block_content col-sm-6">
          {% render 'newsletter-form' %}
        </div>
      </div>
    </div>
  </div> 
  {% endif %}

  <div class="footer-wrap">
    <div class="container">

      {% if section.settings.show_logo %}
      <div class="footer-logo-content{% if template == 'index' %} bottom-to-top hb-animate-element{% endif %}">
        <div class="footer-logo">
          <img Loading="Lazy"  height="auto" width="190" src="{{ section.settings.footer_logo | img_url: '190x' }}" alt="footer_logo" />
        </div>
       {% if section.settings.footer_desc != blank %}
      <div class="footer-desc">{{ section.settings.footer_desc }}</div>
      {% endif %}
      </div>
      {% endif %}
      <div class="text-left grid{% if template == 'index' %} bottom-to-top hb-animate-element{% endif %}">
        <div class="col-sm-12 footer-section">
          <div class="footer-column contactus">
              {% if section.settings.footer_contact_title != blank %}
            <h5 class="widget-title">{{ section.settings.footer_contact_title }}</h5>
            {% endif %}
            <div class="contact-us">
              <ul class="list-unstyled" style="display: block;">
                {% if  section.settings.contact_address  != blank %}
                <li class="contact-detail col-sm-4">
                  <div class="address">	
                    <i class="mdi mdi-map-marker"></i><div class="contact-address">{{ section.settings.contact_address }}</div>
                  </div>
                </li>
                {% endif %}
                {% if section.settings.contact_no != blank %}
                <li class="contact col-sm-4"><i class="mdi mdi-phone"></i><span class="phone"><a target="_blank" href="https://wa.me/+17867319919">{{ section.settings.contact_no }}</a></span></li> <br>
      
              {% endif %}
                {% if section.settings.contact_email != bkank %}
                <li class="email col-sm-4"><i class="mdi mdi-email-outline"></i><span class="email-address"><a href="mailto:{{ section.settings.contact_email }}">{{ section.settings.contact_email }}</a></span></li>
                {% endif %}
              </ul>

              <ul class="list-unstyled" style="margin-top:30px">
                        <li class="contact col-sm-12">
                <a href="https://www.facebook.com/profile.php?id=100069822069864&mibextid=b06tZ0" class="" target="_blank" style="margin-right:20px">
                 <svg xmlns="http://www.w3.org/2000/svg" width="30" height="30" viewBox="0 0 30 30" fill="none">
                  <path fill-rule="evenodd" clip-rule="evenodd" d="M28.125 15.0791C28.125 7.83105 22.248 1.9541 15 1.9541C7.75195 1.9541 1.875 7.83105 1.875 15.0791C1.875 21.6299 6.67383 27.0598 12.9492 28.0453V18.8742H9.61582V15.0791H12.9492V12.1875C12.9492 8.89863 14.9092 7.08047 17.9068 7.08047C19.343 7.08047 20.8453 7.33711 20.8453 7.33711V10.5674H19.1895C17.56 10.5674 17.0502 11.5787 17.0502 12.6182V15.0791H20.69L20.1088 18.8742H17.0508V28.0465C23.3262 27.0615 28.125 21.6316 28.125 15.0791Z" fill="black"/>
                  </svg>
                </a>
                <a href="https://www.instagram.com/orientallaromas/?igshid=MWZjMTM2ODFkZg%3D%3D" class="" target="_blank" style="margin-right:20px">
                  <svg xmlns="http://www.w3.org/2000/svg" width="30" height="30" viewBox="0 0 30 30" fill="none">
                    <path d="M20.4686 4.0623C21.9177 4.06663 23.3063 4.64423 24.331 5.66896C25.3558 6.69369 25.9334 8.08227 25.9377 9.53145V20.4686C25.9334 21.9177 25.3558 23.3063 24.331 24.331C23.3063 25.3558 21.9177 25.9334 20.4686 25.9377H9.53145C8.08227 25.9334 6.69369 25.3558 5.66896 24.331C4.64423 23.3063 4.06663 21.9177 4.0623 20.4686V9.53145C4.06663 8.08227 4.64423 6.69369 5.66896 5.66896C6.69369 4.64423 8.08227 4.06663 9.53145 4.0623H20.4686ZM20.4686 1.875H9.53145C5.32031 1.875 1.875 5.32031 1.875 9.53145V20.4686C1.875 24.6797 5.32031 28.125 9.53145 28.125H20.4686C24.6797 28.125 28.125 24.6797 28.125 20.4686V9.53145C28.125 5.32031 24.6797 1.875 20.4686 1.875Z" fill="black"/>
                    <path d="M22.1092 9.53125C21.7847 9.53125 21.4675 9.43503 21.1977 9.25476C20.9279 9.07448 20.7176 8.81825 20.5934 8.51847C20.4693 8.21868 20.4368 7.88881 20.5001 7.57056C20.5634 7.25231 20.7196 6.95997 20.9491 6.73053C21.1785 6.50108 21.4709 6.34483 21.7891 6.28152C22.1074 6.21822 22.4372 6.25071 22.737 6.37489C23.0368 6.49906 23.293 6.70934 23.4733 6.97914C23.6536 7.24894 23.7498 7.56614 23.7498 7.89063C23.7503 8.10621 23.7081 8.31975 23.6259 8.51901C23.5436 8.71827 23.4228 8.89932 23.2703 9.05176C23.1179 9.20419 22.9368 9.32502 22.7376 9.40731C22.5383 9.48959 22.3248 9.53171 22.1092 9.53125ZM15 10.6246C15.8653 10.6246 16.7112 10.8812 17.4307 11.362C18.1502 11.8427 18.711 12.526 19.0422 13.3255C19.3733 14.125 19.4599 15.0047 19.2911 15.8534C19.1223 16.7021 18.7056 17.4817 18.0937 18.0935C17.4819 18.7054 16.7023 19.1221 15.8536 19.2909C15.0049 19.4597 14.1252 19.3731 13.3257 19.042C12.5262 18.7108 11.8429 18.15 11.3622 17.4305C10.8814 16.711 10.6248 15.8651 10.6248 14.9998C10.626 13.8398 11.0874 12.7277 11.9076 11.9074C12.7279 11.0872 13.84 10.6259 15 10.6246ZM15 8.43731C13.7021 8.43731 12.4333 8.82219 11.3541 9.54329C10.2749 10.2644 9.43374 11.2893 8.93704 12.4884C8.44034 13.6876 8.31038 15.0071 8.5636 16.2801C8.81682 17.5531 9.44183 18.7224 10.3596 19.6402C11.2774 20.558 12.4467 21.183 13.7197 21.4362C14.9927 21.6894 16.3122 21.5595 17.5114 21.0628C18.7105 20.5661 19.7354 19.7249 20.4565 18.6457C21.1776 17.5665 21.5625 16.2977 21.5625 14.9998C21.5625 13.2593 20.8711 11.5901 19.6404 10.3594C18.4097 9.12871 16.7405 8.43731 15 8.43731Z" fill="black"/>
                  </svg>
                </a>
                <a href="https://www.tiktok.com/@orientalaromas.live?_t=ZM-8yqwUIjIxuA&_r=1" class="" target="_blank">
                  <svg xmlns="http://www.w3.org/2000/svg" width="30" height="30" viewBox="0 0 30 30" fill="none">
                    <path d="M24.1522 6.95273C23.9624 6.85462 23.7776 6.74706 23.5985 6.63047C23.0778 6.2862 22.6003 5.88056 22.1764 5.42227C21.1159 4.20879 20.7198 2.97773 20.5739 2.11582H20.5798C20.4579 1.40039 20.5083 0.9375 20.5159 0.9375H15.6854V19.616C15.6854 19.8668 15.6854 20.1146 15.6749 20.3596C15.6749 20.39 15.6719 20.4182 15.6702 20.451C15.6702 20.4645 15.6702 20.4785 15.6673 20.4926V20.5031C15.6163 21.1733 15.4015 21.8207 15.0417 22.3884C14.6818 22.956 14.188 23.4266 13.6036 23.7586C12.9945 24.1051 12.3057 24.2868 11.6049 24.2859C9.35436 24.2859 7.53034 22.4508 7.53034 20.1844C7.53034 17.918 9.35436 16.0828 11.6049 16.0828C12.031 16.0824 12.4544 16.1495 12.8594 16.2814L12.8653 11.3631C11.6356 11.2042 10.3864 11.302 9.19638 11.6501C8.00637 11.9982 6.90142 12.5892 5.95124 13.3857C5.11866 14.1091 4.41871 14.9723 3.88288 15.9363C3.67897 16.2879 2.90964 17.7006 2.81647 19.9934C2.75788 21.2947 3.1487 22.643 3.33503 23.2002V23.2119C3.45221 23.54 3.90632 24.6598 4.64635 25.6037C5.24309 26.3609 5.94812 27.026 6.73874 27.5777V27.566L6.75046 27.5777C9.08893 29.1668 11.6817 29.0625 11.6817 29.0625C12.1305 29.0443 13.6341 29.0625 15.3415 28.2533C17.2352 27.3563 18.3133 26.0197 18.3133 26.0197C19.0021 25.2211 19.5498 24.3111 19.9329 23.3285C20.37 22.1795 20.5159 20.8014 20.5159 20.2506V10.3412C20.5745 10.3764 21.3549 10.8926 21.3549 10.8926C21.3549 10.8926 22.4794 11.6133 24.2337 12.0826C25.4923 12.4166 27.188 12.4869 27.188 12.4869V7.6916C26.5938 7.75605 25.3874 7.56855 24.1522 6.95273Z" fill="black"/>
                  </svg>
                </a>
              </li> 
              </ul>
            </div>
          </div>
          {% if section.settings.show_payment_icons %}
          <div class="site-footer__payment-icons"> 
            {% unless shop.enabled_payment_types == empty %}
            {% assign payment_icons_available = 'amazon_payments,american_express,apple_pay,bitcoin,cirrus,dankort,diners_club,discover,dogecoin,dwolla,forbrugsforeningen,interac,jcb,litecoin,maestro,master,paypal,visa' | split: ',' %}
            <ul class="inline-list payment-icons text-center">
              {% for type in shop.enabled_payment_types %}
              {% if payment_icons_available contains type %}
              <li>
                <span class="icon-fallback-text">
                  <span class="icon icon-{{type}}" aria-hidden="true"></span>
                  <span class="fallback-text">{{type | replace: '_',' '}}</span>
                </span>
              </li>
              {% endif %}
              {% endfor %}
            </ul>
            {% endunless %}
          </div>
          {% endif %}
        </div>
           
      </div>

      <div class="footer-bottom">
        {% if section.settings.show_link_list %}
        <div class="col-sm-12 footer-column links">
         {% if section.settings.footer_col_title_1 != blank %}
              <h5 class="widget-title">{{ section.settings.footer_col_title_1 }}</h5>
              {% endif %}
          {% if linklists[section.settings.col_1_menu].links != blank %}
          <ul class="inline-list nav-secondary">
            {% for link in linklists[section.settings.col_1_menu].links %}
            <li><a href="{{ link.url }}">{{ link.title }}</a></li>
            {% endfor %}
          </ul>
          {% endif %}
        </div> 
        {% endif %}
        <div class="copyright">
          <div>
            <small>{{ 'layout.footer.copyright' | t }} &copy; {{ 'now' | date: "%Y" }}</small> {{ shop.name | link_to: '/' }} | {{ powered_by_link }}
          </div>
        </div>
      </div>  
    </div>
  </div>
</footer>
<style>.footer-top{background-color:{{ section.settings.newsletter_bg }};}.block_newsletter form .input-group .input-group-btn .btn{background: {{ section.settings.btn_bg_color }};color: {{ section.settings.btn_txt_color }};padding:8px 25px;height:50px;}.block_newsletter form .input-group .input-group-btn .btn:hover{color: {{ section.settings.btn_hovertxt_color }}}.block_newsletter form .input-group .input-group-btn .btn::after{background: {{ section.settings.btn_hoverbg_color }};}.block_newsletter form .input-group .input-group-btn .btn .icon{color: {{ section.settings.btn_txt_color }};}.block_newsletter form .input-group .input-group-btn .btn:hover .icon{color: {{ section.settings.btn_hovertxt_color }};}.site-footer input#Email::-webkit-input-placeholder {color:{{ section.settings.footertop_txt_color }};}.block_newsletter form input[type="email"] {color: {{  section.settings.footertop_txt_color }};}</style>

{% schema %}
  {
    "name": "Footer Design 3",
    "settings": [
        {
          "type": "header",
          "content": "Newsletter settings"
        },
		{
        "type": "checkbox",
        "id": "show_newsletter",
        "label": "Show Newsletter",
        "default": false
       },
	  {
        "type": "text",
        "id": "newsletter_title",
        "label": "Newsletter Title",
        "default": "Sign Up For Newsletter"
       },
	    {
        "type": "text",
        "id": "newsletter_desc",
        "label": "Newsletter description",
        "default": "Sign up to our newsletter to get the latest articles, lookbooks & fashion voucher."
       },
		{
        "type": "color",
        "id": "newsletter_bg",
        "label": "Newsletter Background Color",
        "default": "#f5f5f5"
        },
		{
        "type": "color",
        "id": "newsletter_txt_color",
        "label": "Newsletter Text Color",
        "default": "#000000"
        },
    {
        "type": "color",
        "id": "newsletter_desc_color",
        "label": "Newsletter Description Color",
        "default": "#000000"
        },
		{
        "type": "color",
        "id": "btn_txt_color",
        "label": "Button Text Color",
        "default": "#ffffff"
        },
		{
        "type": "color",
        "id": "btn_bg_color",
        "label": "Button Background Color",
        "default": "#000000"
        },
		{
        "type": "color",
        "id": "btn_hovertxt_color",
        "label": "Button Hover Text Color",
        "default": "#000000"
        },
		{
        "type": "color",
        "id": "btn_hoverbg_color",
        "label": "Button Hover Background Color",
        "default": "#fdd413"
        },
        {
        "type": "header",
        "content": "Footer Logo settings"
        },
		{
        "type": "checkbox",
        "id": "show_logo",
        "label": "Show Footer logo content",
        "default": true
       },
		{
          "type": "image_picker",
          "id": "footer_logo",
          "label": "Footer logo"
      	},
	    {
        "type": "text",
        "id": "footer_desc",
        "label": "Footer description",
        "default": "Majority have suffered alteration  in aome from, by injected."
       },
        {
        "type": "header",
        "content": "Information settings"
        },
		{
        "type": "text",
        "id": "footer_contact_title",
        "label": "Contact Title",
        "default": "store information"
        },		
        {
          "type": "richtext",
          "id": "contact_address",
          "label": "Address",
          "default": "<p>123 Sky Tower, West 21th Street, uite 721, NY</p>"
        },		
        {
          "type": "text",
          "id": "contact_no",
          "label": "Contact Number",
          "default": "0123-456-789"
        },		
        {
          "type": "text",
          "id": "contact_email",
          "label": "Email Address",
          "default": "sales@yourcompany.com"
        },
        {
        "type": "header",
        "content": "Footer Payment settings"
        },
		{
        "type": "checkbox",
        "id": "show_payment_icons",
        "label": "Show payment icons",
        "default": false
       },
        {
        "type": "header",
        "content": "Footer Links settings"
        },
		{
        "type": "checkbox",
        "id": "show_link_list",
        "label": "Show Link List",
        "default": false
       },
 	  {
        "type": "text",
        "id": "footer_col_title_1",
        "label": "Heading",
        "default": "Footer Title 1"
      },	
      {
        "type": "link_list",
        "id": "col_1_menu",
        "label": "Footer Column 1"
      }
    ]
  }
{% endschema %}