<div class="page-width brands_slider_wrap" data-section-id="{{ section.id }}" style="background:{{section.settings.bg_color }}">
  <div class="container {% if settings.enable_animation != blank %} bottom-to-top hb-animate-element{% endif %}">
    {% if section.settings.title != blank %}
    <div class="section-header text-center">
      <h2 class="tt-title">{{ section.settings.title | escape }}</h2>
    </div>
    {% endif %}
    {%- assign product_limit =  6 -%}
    <div class="brand-bar{% if section.settings.title_enable %} brand-bar--large{% endif %}">
      <div id="{{ section.settings.addclass }}_list_slider" class="tt-brand_slider owl-carousel owl-theme brand_col_desktop_pro{{section.settings.brand_col_desktop_pro}} brand_col_desktop_pro{{section.settings.brand_col_mobile_pro}}">
        {% if section.blocks.size > 0 %}
        {% for block in section.blocks limit:product_limit %}
        <div class="brand-bar__item{% if section.settings.title_enable %} brand-bar__item--large{% endif %}" {{ block.shopify_attributes }}>
          {% if block.settings.link != blank %}
          <a href="{{ block.settings.link }}" class="brand-bar__link">
            {% endif %}
            {% if block.settings.image != blank %}
            <img Loading="Lazy" width="130" src="{{ block.settings.image | img_url: "master"  }}" alt="brand-logo" class="brand-bar__image"/>
            {% else %}
            {{ 'logo' | placeholder_svg_tag: 'placeholder-svg' }}
            {% endif %}
            {% if block.settings.link != blank %}
          </a>
          {% endif %}
        </div>
        {% endfor %}
      </div>
    </div>  
    {% endif %}   
    {% if section.blocks.size == 0 %}
    {% render 'no-blocks' %}
    {% endif %}
  </div>
</div>
<script>
  $(document).ready(function(){
       var brandsowl = $("body:not(.rtl) #brands_list_slider");
  var  brandsowlrtl = $("body.rtl #brands_list_slider");
  brandsowl.owlCarousel({
    items : {{section.settings.brand_col_desktop_pro}} , //10 items above 1000px browser width
    dots: true,
    rewind:true,
    autoplay:true,
    autoplayHoverPause:true,
    nav: false,
    responsive: {
      100: {
        items: {{section.settings.brand_col_mobile_pro}}
      },
      544: {
        items: 3
      },
      992: {
        items: 4
      },
      1200: {
        items: {{section.settings.brand_col_desktop_pro}}
      }
    }
  });
  brandsowlrtl.owlCarousel({
    items : {{section.settings.brand_col_desktop_pro}} , //10 items above 1000px browser width
    dots: true,
    rewind:true,
    nav: false,
    autoplay:true,
    autoplayHoverPause:true,
    rtl: true,
    responsive: {
      100: {
        items: {{section.settings.brand_col_mobile_pro}}
      },
      544: {
        items: 3
      },
      992: {
        items: 4
      },
      1200: {
        items: {{section.settings.brand_col_desktop_pro}}
      }
    }
  });
  $(".brands_next").click(function(){
    brandsowl.trigger('owl.next');
  });
  $(".brands_prev").click(function(){
    brandsowl.trigger('owl.prev');
  });
  $(".brands_next").click(function(){
    brandsowlrtl.trigger('owl.next');
  });
  $(".brands_prev").click(function(){
    brandsowlrtl.trigger('owl.prev');
  });
  })
</script>
{% schema %}
  {
    "name": "Brand list",
    "class": "index-section brand-logo",
    "settings": [
            {
"type": "range",
"id": "brand_col_mobile_pro",
"min": 1,
"max": 20,
"step": 1,
"label": "Show Brand in MOBILE",
"default": 1
},
{
"type": "range",
"id": "brand_col_desktop_pro",
"min": 2,
"max": 20,
"step": 1,
"label": "Show Brand in DESKTOP",
"default": 4
},
     {
        "type": "text",
        "id": "addclass",
        "label": "Add Class",
        "default": "brands"
      },
	  {
        "type": "text",
        "id": "title",
        "label": "Heading",
        "default": "Brand list"
      },
	{
        "type": "color",
        "id": "bg_color",
        "label": "Background color",
        "default": "#f1f1f1"
      }
    ],
    "blocks": [
      {
        "type": "brand_image",
        "name": "Brand",
        "settings": [
          {
            "type": "image_picker",
            "id": "image",
            "label": "Image"
          },
          {
            "type": "url",
            "id": "link",
            "label": "Link",
            "info": "Optional"
          }
        ]
      }
    ],
    "presets": [
      {
        "name": "Brand list",
        "category": "Image",
        "blocks": [
          {
            "type": "brand_image"
          },
          {
            "type": "brand_image"
          },
          {
            "type": "brand_image"
          },
			{
            "type": "brand_image"
          },
			{
            "type": "brand_image"
          },
          {
            "type": "brand_image"
          }
        ]
      }
    ]
  }
{% endschema %}