<section class='policy-v11'>
   
      {%- if section.settings.is_grid -%}
      <div class="row">
        <div class="container text-center">
          {%- for block in section.blocks -%}
            <div class='policy-v10__box col-md-4' style='--bg: {{ block.settings.bg }}'>
              <div class='policy-v10__wrap'>              
                  <div class='policy-v10__svg'>
                    {% if block.settings.svg != empty %}
                      {{ block.settings.svg }}
                    {% elsif block.settings.image_svg != empty %}
                    <img is="xo-lazyload" xo-src="{{ block.settings.image_svg.src | image_url: width: 100 }}" loading="lazy" alt="" width="87" height="86" xo-intrinsic-width="87" xo-intrinsic-height="86" src="{{ block.settings.image_svg.src | image_url: width: 100 }}" style="" xo-loaded="">
                    {% endif %}
                  </div>               
                <div class='policy-v10__info'>
                  <h6 class='policy-v10__title'>
                    {{ block.settings.title }}
                  </h6>
                  <div class='policy-v10__desc'>
                    {{ block.settings.description }}
                  </div>
                </div>
              </div>
            </div>
          {%- endfor -%}
          </div>
      </div>
     
      {%- endif -%}
 
</section>

{% schema %}
{
  "name": "Policy v3",
  "tag": "section",
  "class": "section",
  "settings": [
    {
      "type": "header",
      "content": "Setting layout"
    },
    {
      "type": "select",
      "id": "width",
      "label": "Container type",
      "default": "box",
      "options": [
        {
          "value": "box",
          "label": "Box"
        },
        {
          "value": "wide",
          "label": "Wide"
        },
        {
          "value": "fullwidth",
          "label": "Fullwidth"
        }
      ]
    },
    {
      "type": "checkbox",
      "id": "is_grid",
      "label": "Grid",
      "default": true
    },
    {
      "type": "header",
      "content": "Header"
    },
    {
      "type": "range",
      "id": "limit_carousel",
      "min": 2,
      "max": 5,
      "step": 1,
      "label": "Number of items displayed",
      "default": 3
    },
    {
      "type": "range",
      "id": "carousel_gap",
      "min": 0,
      "max": 80,
      "step": 1,
      "unit": "px",
      "label": "Gap items",
      "default": 0
    },
    {
      "type": "header",
      "content": "Setting Grid"
    },
    {
      "type": "range",
      "id": "limit",
      "min": 2,
      "max": 5,
      "step": 1,
      "label": "Columns limit",
      "default": 3
    },
    {
      "type": "range",
      "id": "col_gap",
      "min": 0,
      "max": 80,
      "step": 1,
      "unit": "px",
      "label": "Columns gap",
      "default": 0
    },
    {
      "type": "range",
      "id": "row_gap",
      "min": 0,
      "max": 80,
      "step": 1,
      "unit": "px",
      "label": "Rows gap",
      "default": 0
    },
    {
      "type": "header",
      "content": "General settings"
    },
  
     {
      "type": "image_picker",
      "id": "background_image_desktop",
      "label": "Background image desktop"
    },
    {
      "type": "image_picker",
      "id": "background_image_mobile",
      "label": "Background image mobile"
    },
    {
      "type": "checkbox",
      "id": "use_parallax",
      "label": "Use parallax",
      "default": true
    },
    {
      "type": "number",
      "id": "padding_top",
      "label": "Padding top",
      "default": 50
    },
    {
      "type": "number",
      "id": "padding_bottom",
      "label": "Padding bottom",
      "default": 50
    }
  ],
  "blocks": [
    {
      "name": "Items box ",
      "type": "items-box",
      "settings": [
        {
          "type": "color",
          "id": "bg",
          "label": "Background",
          "default": "#c99a5c"
        },
        {
          "type": "html",
          "id": "svg",
          "label": "Svg"
        },
        {
          "type": "image_picker",
          "id": "image_svg",
          "label": "Image icon",
          "info": "Ratio: 55px x 55px recommended"
        },
        {
          "type": "text",
          "id": "title",
          "label": "Title",
          "default": "Title",
          "info": "Enter <br> for a break line"
        },
        {
          "type": "text",
          "id": "description",
          "label": "Description",
          "default": "Description",
          "info": "Enter <br> for a break line"
        }
      ]
    }
  ],
  "presets": [
    {
      "name": "Policy V3"
    }
  ]
}
{% endschema %}
