{% if section.blocks.size > 0 %}
  <div class="ttcmsbanner hb-animate-element bottom-to-top">
      <div class="container">
        <div class="row">
        <div id="specialproduct_products_slider" data-col="4" class="contents slider-specialproduct grid grid--view-items owl-carousel owl-theme owl-loaded owl-drag">{% for block in section.blocks %}
            {% if block.settings.banner_image1 != blank %}
            <div id="ttbanner-{{ block.id }}" class="ttbanner">
              <div class="banner-block">
                <a href="{% if  block.settings.image_url != blank %}{{block.settings.banner_link1 }}{% else %}#{% endif %}">
                  {% if block.settings.banner_image1 != blank %}
                  <img height="300" width="600" src="{{  block.settings.banner_image1 | img_url: "600x300" }}" alt="banner-image"/>
                  {% else %}
                  {{ 'image' | placeholder_svg_tag: 'placeholder-svg' }}
                  {% endif %}
                </a> 
                <div class="ttbanner-content {{block.settings.text_position}}">
                  <div class="tthomebanner-img">
                    {% if block.settings.subtitle !="" %}
                    <div class="ttcms-subtitle">{{ block.settings.subtitle }}</div>
                    {% endif %}
                    {% if block.settings.title !="" %}
                    <div class="ttcms-title">{{ block.settings.title }}</div>
                    {% endif %}
                    {% if block.settings.btn != blank %}
                    <div class="ttbanner-button">
                      <a class="subbtn btn" href="{% if  block.settings.image_url != blank %}{{block.settings.banner_link1 }}{% else %}#{% endif %}">{{block.settings.btn}}</a>
                    </div>  
                    {% endif %}
                  </div>
                </div>                          
               <style>.ttcmsbanner .ttbanner-wrap #ttbanner-{{ block.id }} .ttbanner-content .ttcms-title{color:{{ block.settings.title_color }};}.ttcmsbanner .ttbanner-wrap #ttbanner-{{ block.id }} .ttbanner-content .ttcms-subtitle{color:{{ block.settings.subtitle_color }};}.ttcms-banner .ttcmsbanner .ttbanner-content .ttcms-subtitle::after{background:{{block.settings.btnbg_color }};}.ttcmsbanner .ttbanner-wrap #ttbanner-{{ block.id }} .ttbanner-content .ttbanner-button a.subbtn{color:{{block.settings.btntxt_color}};background:{{block.settings.btnbg_color }};}.ttcmsbanner .ttbanner-wrap #ttbanner-{{ block.id }} .ttbanner-content .ttbanner-button a.subbtn:hover{color:{{block.settings.btnhvrtxt_color}};}.ttcmsbanner .ttbanner-wrap #ttbanner-{{ block.id }} .ttbanner-content .ttbanner-button a.subbtn:hover::after{background:{{block.settings.btnbghvr_color }};}</style>              
          	</div>
          </div>
              {% endif %}
            {% endfor %}
          </div>
       </div>
      </div>
    </div>
{% endif %}

{% schema %}
  {
    "name": "TT Cms Banner",
    "class": "index-section ttcms-banner",
    "max_blocks": 3,
    "blocks" : [
      {
        "type": "image",
        "name": "Slide",
        "settings": [
          {
            "type": "image_picker",
            "id": "banner_image1",
            "label": "Image"
          },
          {
            "type": "url",
            "id": "banner_link1",
            "label": "Banner link"
          },
          {
            "type": "text",
            "id": "title",
            "label": "Title",
            "default":"get 35% off"
          },
          {
            "type": "color",
            "id": "title_color",
            "label": "Title Color",
            "default":"#f12a43"
          },
          {
            "type": "text",
            "id": "subtitle",
            "label": "Subtitle",
            "default":"big discount"
          },
          {
            "type": "color",
            "id": "subtitle_color",
            "label": "SubTitle Color",
            "default":"#f12a43"
          },
          {
            "type": "text",
            "id": "btn",
            "label": "Button text"
          },
          {
            "type": "color",
            "id": "btnbg_color",
            "label": "Button Background Color"
          },
          {
            "type": "color",
            "id": "btntxt_color",
            "label": "Button text Color"
          },
          {
            "type": "color",
            "id": "btnbghvr_color",
            "label": "Button Hover Background Color"
          },
          {
            "type": "color",
            "id": "btnhvrtxt_color",
            "label": "Button Hover text Color"
          },
          {
            "type": "select",
            "id": "text_position",
            "label": "Text Position",
            "options": [
              {
                "value": "pos-left",
                "label": "left"
              },
              {
                "value": "pos-right",
                "label": "Right"
              },
              {
                "value": "pos-center",
                "label": "Center"
              }
            ]
          }
        ]
      }
    ],
    "presets": [
      {
        "name": "TT Cms Banner",
        "category": "TT CMS section"
      }
    ]
  }
{% endschema %}