<div class="ttabout-main {% if settingsenable_animation  != blank%} bottom-to-top hb-animate-element{% endif %}" style="background:{{section.settings.bg_color}}">
  <div class="ttabout-block {{section.settings.image_position}}">
     {% if  section.settings.image_position == 'pos-left' %}
      {% if  section.settings.image != blank %}
        <div class="ttabout-left about-content col-sm-6 col-xs-6">
          <a href="{% if  section.settings.image_url != blank %}{{section.settings.image_url}}{% else %}#{% endif %}"><img Loading="Lazy"  src="{{section.settings.image | img_url: "952x660"}}" alt="ttaboutimg" width="952" height="660"></a>
        </div>
      {% endif %}
        <div class="ttabout-right about-content col-sm-6 col-xs-6">
          {% if  section.settings.subtitle != blank %}
          <div class="ttabout-subtitle">{{section.settings.subtitle}}</div>
          {% endif %}
          {% if  section.settings.title != blank %}
          <div class="ttabout-title">{{section.settings.title}}</div>
          {% endif %}
          {% if  section.settings.about_desc != blank %}
          <div class="ttabout-desc">{{section.settings.about_desc}}</div>
          {% endif %}
          {% if  section.settings.about_btn != blank %}
          <div class="ttabout-btn">
            <a href="{{section.settings.btn_url}}" class="btn">{{section.settings.about_btn}}</a>
          </div>
          {% endif %}
        </div>
    {% else %}
        {% if  section.settings.image != blank %}
          <div class="ttabout-left about-content col-sm-6 col-xs-6">
            <!--<a href="{{section.settings.image_url}}">
       
              <img Loading="Lazy"  src="{{section.settings.image | img_url: "952x660"}}" alt="ttaboutimg" width="952" height="660"></a>-->
          <video src="{{section.settings.image_url}}" class="object-fit-cover" autoplay></video>

          </div>
        {% endif %}
        <div class="ttabout-right about-content col-sm-6 col-xs-6">
          {% if  section.settings.subtitle != blank %}
          <div class="ttabout-subtitle">{{section.settings.subtitle}}</div>
          {% endif %}
          {% if  section.settings.title != blank %}
          <div class="ttabout-title">{{section.settings.title}}</div>
          {% endif %}
          {% if  section.settings.about_desc != blank %}
          <div class="ttabout-desc">{{section.settings.about_desc}}</div>
          {% endif %}
          {% if  section.settings.about_btn != blank %}
          <div class="ttabout-btn">
            <a href="{{section.settings.btn_url}}" class="btn">{{section.settings.about_btn}}</a>
          </div>
          {% endif %}
        </div>
    {% endif %}
  </div>
</div>
<style>
   .ttabout-main .ttabout-block .ttabout-right .ttabout-subtitle{color:{{section.settings.subtitle_color}};}.ttabout-main .ttabout-block .ttabout-right .ttabout-title{color:{{section.settings.title_color}};}.ttabout-main .ttabout-block .ttabout-right .ttabout-desc{color:{{section.settings.desc_color}};}.ttabout-main .ttabout-block .ttabout-right .ttabout-btn a{color:{{section.settings.btn_txt_color}};background:{{section.settings.btn_bg_color}};}.ttabout-main .ttabout-block .ttabout-right .ttabout-btn a:hover{color:{{section.settings.btn_txt_hvr_color}};}.ttabout-main .ttabout-block .ttabout-right .ttabout-btn a::after{background:{{section.settings.btn_bg_hvr_color}};}
</style>

{% schema %}
  {
    "name": "TTAbout section",
	"class": "index-section ttcmsabout",
    "settings": [
		{
            "type": "color",
            "id": "bg_color",
            "label": "Background Color",
			"default": "#111"
		},
        {
            "type": "image_picker",
            "id": "image",
            "label": "Image"
        },
        {
            "type": "url",
            "id": "image_url",
            "label": "Image Url"
        },
		{
            "type": "select",
            "id": "image_position",
            "label": "Image Position",
            "options": [
              {
                "value": "pos-left",
                "label": "left"
              },
              {
                "value": "pos-right",
                "label": "Right"
              }
            ]
          },
        {
            "type": "text",
            "id": "title",
            "label": "Title"
        },
        {
            "type": "color",
            "id": "title_color",
            "label": "Title Color",
            "default": "#fff"
        },
        {
            "type": "text",
            "id": "subtitle",
            "label": "Sub Title"
        },
        {
            "type": "color",
            "id": "subtitle_color",
            "label": "SubTitle Color",
            "default": "#fff"
        },
		{
            "type": "textarea",
            "id": "about_desc",
            "label": "Description"
        },
        {
            "type": "color",
            "id": "desc_color",
            "label": "Description Color",
            "default": "#fff"
        },
        {
            "type": "text",
            "id": "about_btn",
            "label": "Button Text"
        },
        {
            "type": "url",
            "id": "btn_url",
            "label": "Button Url"
        },
        {
            "type": "color",
            "id": "btn_txt_color",
            "label": "Button Text Color",
            "default": "#fff"
        },
        {
            "type": "color",
            "id": "btn_bg_color",
            "label": "Button Background Color",
            "default": "#fff"
        },
        {
            "type": "color",
            "id": "btn_txt_hvr_color",
            "label": "Button Text Hover Color",
            "default": "#fff"
        },
        {
            "type": "color",
            "id": "btn_bg_hvr_color",
            "label": "Button Background Hover Color",
            "default": "#fff"
        }
	],
    "presets": [
        {
          "name": "TTAbout section",
          "category": "TT CMS section"
        }
      ]
  }
{% endschema %}